<head>
    <title>Tutorial for Create Gitlab Pages</title>
</head>
<body>
    <h1>Video</h1>
    <iframe width="2543" height="768" src="https://www.youtube.com/embed/dD8c7WNcc6s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
